body{
    background-color:powderblue;
}
.Address{
  margin: 50px;
  
    }
h2,h3{
    color:hsl(248, 53%, 58%);
}
ul,ol{
    font-size:20px;  
}
img{
    margin: 20px;
    float : left;
}
a{
    text-decoration: none;
}

#code{
    font-size: 20px;
}
